@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color-hue: 52;

  --color-gray: hsl(255, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-white: hsl(252, 30%, 95%);
  --color-dark: hsl(252, 30%, 10%); 
  --color-black: hsl(252, 30%, 0%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0.6vw;
}
::-webkit-scrollbar-track {
  background: none
}
::-webkit-scrollbar-thumb {
  background: rgb(171, 170, 170);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(203, 202, 202);
}


body {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  background: var(--color-black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* GENERAL STYLES */
.container {
  width: 80%;
  margin: 0 auto;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: rgb(3, 3, 3);
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
} 

/*================== NAVBAR =================*/
nav {
  width: 100%;
  background: var(--color-dark);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .log{
  width: 300px;
  margin-top: 2rem;
  margin-left:-5rem;
}

.search-bar {
  background: var(--color-black);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-white);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .create #menu-btn {
  display: none;
}

/* ===================== PRINCIPALE ======================= */
main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
  position: relative;
}

/* =================== SINISTRA ================ */
/* main .container .left {
  height: max-content; 
  height: 100vh;
   position: sticky;
  top: var(--sticky-top-left);
} */

main .container .left .profile {
  padding: var(--card-padding);
  background: var(--color-dark);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  /* display: none; */
}

/* -------------- BARRA LATERALE ------------------ */
.left .sidebar {
  margin-top: 1rem;
  background: var(--color-dark);
  border-radius: var(--card-border-radius);
}


.left #close-btn {
  display: none;
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.left .sidebar .menu-item:hover {
  background: var(--color-black);
}

.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}
.left .sidebar i.f {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2.5rem;
  position: relative;
}
.left .sidebar i.fg {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2.1rem;
  position: relative;
}

.left .sidebar i .notification-count {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}
 .left .sidebar h3.h3color {
  margin-left: 1.5rem;
  font-size: 1rem;
  color: var(--color-white);
} 

.left .sidebar .active {
  background: var(--color-black);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* ----------------------- POPUP NOTIFICHE ---------------- */
.left .notifications-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background: var(--color-dark);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  z-index: 8;
  display: none;
}

.left .notifications-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background: var(--color-dark);
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}

.left .notifications-popup > div {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left .notifications-popup small {
  display: block;
}

/* ============================= CENTRO ================================ */
.container-about{
  width: 100%;
  background-color: var(--color-dark);
  border-radius: var(--card-border-radius);
  padding: 30px 30px;
}

.content-titolo{
  margin: 1.5rem auto;
  text-align: center;
}

.titolo-1{
  margin-bottom: 20px;
  margin-top: 20px;
}

.titolo-2{
  margin-bottom: 20px;
  margin-top: 20px;
}
.titolo-3{
  margin-bottom: 20px;
  margin-top: 20px;
}
.titolo-4{
  margin-bottom: 20px;
  margin-top: 20px;
}
.titolo-5{
  margin-bottom: 20px;
  margin-top: 20px;
}
.content-abstract{
  width: 600px;
  margin: 40px 0;
}


.content-project{
  width: 600px;
  margin: 40px 0;
}

.images{
  padding: 15px 15px;
}

.retro{
  margin: 0 auto;
  width: 220px;
  height: 430px;
}





/* ==========================
MEDIA QUERIES PICCOLI LAPTO/MEDIO-GRANDI TABLET
==========================
*/
@media screen and (max-width: 1200px) {
  .container {
      width: 96%;
  }

  main .container{
      grid-template-columns: 5rem auto 30vw;
      gap: 1rem;
  }

  .left{
      width: 5rem;
      z-index: 5;
  }
  main .container .left .profile{
      display: none;
  }
  .sidebar h3{
      display: none;
  }
  .left .btn{
      display: none;
  }
}

/* ==========================
MEDIA QUERIES PICCOLI TABLET E MOBILE
==========================
*/
@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  nav .create label {
    display: none;
  }

  main .container {
    grid-template-columns: auto 0;
    gap: 0;
  }
  
  main .container .left{
    top: 5rem;
    grid-column: 3/4;
    position: fixed;
    bottom: 0;
    right: 0;
    
}
  /* ------------ POPUP NOTIFICHE ------------- */
  .left .notifications-popup {
    position: absolute;
    width: 60vw;
    font-size: 80%;
    left: 80%;
  }

  /* -------------- nascondi le ultime due storie su mobile ------------ */
  main .middle .stories .story:nth-child(5),
  main .middle .stories .story:nth-child(6) {
    display: none;
  }

  main .container .right {
    display: none;
  }

  .customize-theme .card {
    width: 92vw;
    padding: 1rem;
  }

  .customize-theme .choose-bg > div {
    width: 90%;
  }

  .customize-theme .choose-bg > div span {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    margin-right: 1rem;
  }
}
